/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.htaccess
favicon.ico

server.php
phpunit.xml
.[oa]
config/
tests/
bootstrap/
logs/
storage/
artisan
database/*
!database/migrations
app/*/
!app/Http/
!app/Models/
public/*/
!public/js
public/js/Datepicker
public/index.php


resources/*/
!resources/views/